<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cloudhealthcareapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:name=".CloudHealthcareApp"
        android:allowBackup="true"
        android:icon="@mipmap/hospital"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/hospital"
        android:supportsRtl="true"
        android:theme="@style/Theme.CloudHealthcareApp">

        <service
            android:name=".services.AppointmentCleanupJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>

        <service
            android:name=".services.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>




        <activity
            android:name=".ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.doctor.PatientDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.doctor.WritePrescriptionActivity"
            android:exported="false" />

        <activity
            android:name=".ui.admin.UserDetailsActivity"
            android:exported="false" />
        <activity android:name=".ui.doctor.ViewImageActivity" />
        <activity android:name=".ui.RegisterActivity" />
        <activity android:name=".ui.patient.PatientHomeActivity" />
        <activity android:name=".ui.patient.BookAppointmentActivity" />
        <activity android:name=".ui.patient.UploadMedicalRecordActivity" />
        <activity android:name=".ui.doctor.DoctorHomeActivity" />
        <activity android:name=".ui.doctor.DoctorAppointmentsActivity" />
        <activity
            android:name=".ui.doctor.PatientListActivity"
            android:exported="false" />

        <activity
            android:name=".ui.doctor.AppointmentRequestsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.patient.PatientAppointmentsActivity"
            android:exported="false" />
        <activity android:name=".ui.doctor.AddDiagnosisActivity" />
        <activity android:name=".ui.admin.AdminHomeActivity" />
        <activity android:name=".ui.admin.ManageUsersActivity" />
        <activity android:name=".ui.admin.BillingActivity" />
    </application>

</manifest>