<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cloudhealthcareapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".CloudHealthcareApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CloudHealthcareApp">

        <activity
            android:name=".ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.admin.UserDetailsActivity"
            android:exported="false" />
        <activity android:name=".ui.RegisterActivity" />
        <activity android:name=".ui.patient.PatientHomeActivity" />
        <activity android:name=".ui.patient.BookAppointmentActivity" />
        <activity android:name=".ui.patient.UploadMedicalRecordActivity" />
        <activity android:name=".ui.doctor.DoctorHomeActivity" />
        <activity android:name=".ui.doctor.DoctorAppointmentsActivity" />
        <activity
            android:name=".ui.patient.PatientAppointmentsActivity"
            android:exported="false" />
        <activity android:name=".ui.doctor.AddDiagnosisActivity" />
        <activity android:name=".ui.admin.AdminHomeActivity" />
        <activity android:name=".ui.admin.ManageUsersActivity" />
        <activity android:name=".ui.admin.BillingActivity" />
    </application>

</manifest>